@import url(https://fonts.googleapis.com/css?family=Poiret+One);

page-feedback {
ul {
  padding: 0px;
 
  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;
 
    ion-icon {
      font-size: 30px;
    }
  }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
.btn {
 color:white;
 text-decoration:none;
 padding:20px 40px;
 border-radius:3px;
 font-family: 'Poiret One', cursive;
 font-size:2em;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}
/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}
h5,p{
  font-family: 'Poiret One', cursive;
  }

}
