page-kiosk-security {
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}
.btn {
 color:white;
 text-decoration:none;
 padding:20px 40px;
 border-radius:3px;
 font-family: 'Poiret One', cursive;
 font-size:1.4em;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}
.btn-red {
   @include button-bg(#e74c3c);
}
/*Other Stylez*/
.wrap {
  margin:0 auto;
  width:800px;
  text-align:center;
}

p,h4,h5{
	 font-family: 'Poiret One', cursive;
}
}
